/
  collection of templates are listed here
  haml/html codes of views can also be included here
  for organization however, I opted to put the templates inside the folder views of their controllers and just call them here

%script{:type => 'text/template', :id => "patient_details"}
  = render :partial => "patient_list/patient_details.haml"
